server:
  http_port: 8088
  host: "0.0.0.0"
  service_host_address: "192.168.1.11"
  service_http_health_path: "api/v1/health"
  service_http_prefix_path: "/api/v1/agency"
  service_registry:
    service_name: "agency"
    address: "0.0.0.0:8500"
    auth_service_name: "auth"
    bank_service_name: "bank"
db:
  user: "postgres"
  pass: "postgres"
  host: "0.0.0.0"
  port: 5432
  db_name: "agency"